.*.swp
._*
.DS_Store
.git
.gitignore
.hg
.npmignore
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
.github
.husky
.vscode
node_modules
src
.prettierignore
.prettierrc
eslint.config
tsconfig.json
storybook-static
*storybook.log